<!DOCTYPE html>
<html>
<head>
    <title>IT Asset Management</title>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/dark_mode.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">IT Asset Management</a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item me-3"><a class="nav-link" href="/">Home</a></li>
      <li class="nav-item me-3"><a class="nav-link" href="/staff">Staff</a></li>
      <li class="nav-item me-3"><a class="nav-link" href="/assets">Assets</a></li>
    </ul>
  </div>
</nav>
<div class="container my-4">
    {% block content %}{% endblock %}
</div>
</body>
</html>